<header></header>

<splash></splash>

<div class="content-wrapper">
  <div class="content">
    <h2 class="content-head is-center">Save yourself countless hours of perfect stack config</h2>

     <ul class="pros">
        <li><a href="https://angularu.com/VideoSession/2015sf/angular-2-server-rendering">Server Side rendering</a> for instant page loading</li>
        <li><a href="https://webpack.github.io/">Webpack</a> and its <a href="https://webpack.github.io/docs/code-splitting.html">Code Splitting</a> feature which allows us to lazy load parts of an application if needed.</li>
        <li><a href="https://www.npmjs.com/package/preboot">Preboot</a> to catch browser events before Angular2 is ready to work.</li>
        <li>Live Reloading, a browser will be reloaded on any change in server or browser code. It works well for both a main thread and web workers.</li>
        <li><a href="http://www.typescriptlang.org/">TypeScript 2</a></li>
        <li>Linting with <a href="http://palantir.github.io/tslint/">TSLint</a></li>
        <li><a href="http://expressjs.com/">Express</a> - de facto standard for Node.js web apps.</li>
        <li><a href="http://pm2.keymetrics.io/">PM2</a> - most advanced Node.js process manager</li>
        <li>Unit testing with <a href="http://karma-runner.github.io/">Karma</a></li>
        <li>End-to-End testing with <a href="https://angular.github.io/protractor">Protractor</a></li>
      </ul>
  </div>

  <footer></footer>

</div>